.container-about {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url('../Home/fondo.avif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0.9;
    color: var(--primaryColor);
    text-align: center;
    padding: 15% 0;
}

.container-about h1 {
    margin: 0;
    color: #e3e4e5;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 0 0 35px var(--textColor);
}
  
.container-about p {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 30px;
    font-weight: 700;
    color: #e3e4e5;
    text-shadow: 1px 1px 3px var(--primaryColor);
}

@media screen and (max-width:400px){
    .container-about h1 {
        font-size: 60px;
    }
    
    .container-about p {
        min-width: fit-content;
        margin-top: 20px;
        margin-left: 60px;
        color: #e3e4e5;
    }

}